.login-container{
    margin-top: 13%;
}
.login-form{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form h2{
    text-align: center;
    color: #1786ff;
}
.login-container form{
    /* padding: 10%; */
    padding: 0 5%;
    padding-top: 4%;
}
.btnSubmit
{
    width: 30%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #1786ff;
}
.login-form .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}
.login-row {
    padding: 0 20rem;
    width: 100%;
}
.login-image {
    display: flex;
    justify-content: center;
}
.detailform-cont {
    padding-top: 5rem;
}
